@charset "utf-8";

$mainColor: #00a6fb !default;
$color1: #cee0dc !default;
$color2: #cbeaa6 !default;

$darkColor1: #666666 !default;
$darkColor2: rgba(102,102,102, 0.75) !default;

$bgColor1: #ffffff !default;
$bgColor2: #f3f9d2 !default;
$bgColor3: #eeeeee !default;

$bColor: #aaaaaa !default;
$bColor2: #5bc0de !default;

$fontColor: #000000 !default;
$fontColor2: rgba(0,0,0, 0.75) !default;
$fontColor3: #ffffff !default;
$fontColor4: rgba(255,255,255, 0.75) !default;
$warnFontColor: #ff2222 !default;

%ui-font1{
    color: $fontColor;
    font-size: 18px;
    font-weight: bold;
    line-height: 28px;
}
%ui-font2{
    color: $fontColor;
    font-size: 16px;
    line-height: 24px;
}
%ui-font3{
    color: $fontColor2;
    font-size: 16px;
    line-height: 24px;
}
%ui-font4{
    color: $fontColor2;
    font-size: 14px;
    line-height: 22px;
}
%ui-font1-rev{
    color: $fontColor3;
    font-size: 18px;
    font-weight: bold;
    line-height: 28px;
}
%ui-font2-rev{
    color: $fontColor3;
    font-size: 16px;
    line-height: 24px;
}
%ui-font3-rev{
    color: $fontColor4;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
}
%ui-font4-rev{
    color: $fontColor4;
    font-size: 14px;
    line-height: 22px;
}

%ui-btn{
    @extend %ui-font1-rev;
    background-color: $mainColor;
}
%ui-btn2{
    @extend %ui-font1;
    color: $mainColor;
    background-color: $bgColor1;
}