@charset "utf-8";

.hidden{
    display: none !important;
}

.invisible{
    visibility: hidden;
}

.clearfix, .cf {
    zoom: 1;
    &:after {
        content: "";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }
}