div#timeTable(:class="(mode === 1 || mode === 2) ? 'editable' : '' ")
    div.filterBox

    div.tt-container
        div.tt-headCol
            ul.tt-dateList.cf
                li.tt-name
                    | Name
            ul.tt-ppl.cf(v-for="ppl in pplList")
                li.tt-name(@click="goToLeavePage")
                    | {{ ppl.name }}
        div.tt-wrapper(@scroll="delayScroll(visibleArea)")
            div.tt-main(:style="dateListUI")
                ul.tt-dateList.cf
                    li.tt-date(v-for="date in dateList")
                        | {{ date.dateStr2 }}
                ul.tt-ppl.cf(v-for="ppl in pplList")
                    li.tt-date(v-for="date in dateList")
                        ul.tt-task(:class="(ppl[date.dateStr] && ppl[date.dateStr][2].leaveType) ? 'onLeave' : '' ")
                            li.tt-taskItem(@click="selectTask(ppl[date.dateStr][0], ppl.id, 0)", :style="{ backgroundColor: ppl[date.dateStr][0].color }")
                                template(v-if="ppl[date.dateStr][0].editable")
                                    input.stageInput(v-model="daylyWork", @input="updateTask(ppl.id, ppl.name, date.dateStr, 0)", @keydown.tab.prevent="selectNext(ppl[nextDate(date.dateStr)], ppl.id, 0)", @blur="unselectTask", v-focus="autoFocusInput")
                                template(v-else)
                                    | {{ ppl[date.dateStr][0].stage }}
                            li.tt-taskItem(@click="selectTask(ppl[date.dateStr][1], ppl.id, 1)", :style="{ backgroundColor: ppl[date.dateStr][1].color }")
                                template(v-if="ppl[date.dateStr][1].editable")
                                    input.stageInput(v-model="daylyWork", @input="updateTask(ppl.id, ppl.name, date.dateStr, 1)", @keydown.tab.prevent="selectNext(ppl[nextDate(date.dateStr)], ppl.id, 1)", @blur="unselectTask", v-focus="autoFocusInput")
                                template(v-else)
                                    | {{ ppl[date.dateStr][1].stage }}
                            li.tt-leave
                                | {{ ppl[date.dateStr][2].leaveType }} - {{ ppl[date.dateStr][2].leaveDuration }}

    div.taskView
        ul.tv-list.cf
            li.tv-item(v-for="task in taskView", :style="{ backgroundColor: task.color }" @click="viewDetail(task.id)")
                | {{ task.name }}

    div#editingToast(v-show="showEditingToast")
        div.g-mask
        div.g-dialog
            div.msg 当前正在编辑，请返回后再次点击查看详情

    div#addTaskDialog(v-show="showAddTaskDialog")
        div.g-mask
        div.g-dialog
            div.msg 是否新建任务记录？
            div.btn-section
                button.back-btn(@click="goBack")
                    | 返回
                button.confirm-btn(@click="addTask")
                    | 确定

