doctype html
html
    head
        meta(charset="utf-8")
        meta(name="renderer", content="webkit")
        title T-All

        link(rel="stylesheet", type="text/css", href="../css/index.css")

    body
        div#loading

        div#app